!!!
%head
    %title
        layout test
    %link{:rel=>"stylesheet",:type=>"text/css",:href=>"./css/style.css"}
    %script{:src =>"./jquery.min.js"}
    %script{:src =>"'https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js"}
    %script{:src =>"./interaction.js"}
    %script{:src =>"./events.json"}
%body
    .hgroup
    .map-wrap
